// Module configurations
// -------------------------
//$breakpoint-to-ems: 'true';

$size-default: 16px;
$size-small:   12px;
$size-half:    8px;
$size-tiny:    4px;


// Breakpoint Sizes
// -------------------------

$bp-big: 55em;
$bp-print: 48em;
$bp-small:  46em;
$bp-small-2:  42em;
$bp-smaller: 38em;
$bp-smallest: 30em;

// Key Breakpints
// -------------------------
$print-media: 'print';
$size-mobile: max-width $bp-big, max-device-width 1023px; // 880ish px
$size-mobile-small: max-width $bp-small; // 736px
$size-mobile-small-2: max-width $bp-small-2; // 736px
$size-mobile-smaller: max-width $bp-smaller; // 608 px
$size-mobile-smallest: max-width $bp-smallest; // 480 px
$size-print: max-width $bp-print; // 768px

// Colors
// -------------------------
$color-alert: red;
$color-light-gray: #CCC;
$color-not-quite-black: #444;
$color-mobile-header: #D9D9D9;
$color-mobile-button: #476999;

// CTA
$color-red:     #D23A37;
$color-green:   #00B638;
$color-blue:    #0073CC;
$color-yellow:  #FFEB00;


// Radiuses
// -------------------------
$radius-mobile: 0.3em;
