/* Drupal App Styles */

/* Mimic Drupal Styles for MPC Portal App */
.field-label-inline .field-label,
.field-label-inline .field-items {
  float: left;
}

.missing-person-wrapper {
  min-height:300px;
}

/* Layout */

.page-node {
  @include breakpoint($print-media) {
    background: transparent;
    background-image: none;
  }
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* html .clearfix {
  height: 1%;
}

*:first-child + html .clearfix {
  min-height: 1%;
}

body.toolbar-drawer,
body.toolbar {
  @include breakpoint($print-media) {
    padding-top:0!important;
  }
}

.node-unpublished p.unpublished,
.comment-unpublished p.unpublished {
  @include breakpoint($print-media) {
    display:none!important;
  }
}

#mainContent .region-header {
  clear: none;
}

.sidebar .block {
  margin:0;
}

.node-type-missing-person {
  color:#222;
}

.node-missing-person, .missingFooter {
  font-size: $size-default;
  color: #222;

  @include breakpoint($print-media) {
    color:#000;
  }

  p {
    padding: 0;
  }

  .field-label {
    font-weight:600;

    @include breakpoint($print-media) {
      font-weight:700;
    }
  }

  @include breakpoint(max-width 85em) {
    font-size: $size-small;
  }

  * {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }
}

.case-type, .abd-circumstances {
  margin: 0 0 $size-half 0;
  padding:$size-half 0;
  border:1px solid #999;
  text-align:center;
  text-shadow: 1px 1px 1px #BBB;
  text-transform: uppercase;
  font-weight:700;
  -webkit-box-shadow: 0 2px 2px #DEDEDE;
  box-shadow: 0 2px 2px #DEDEDE;

  @include breakpoint ($size-print) {
    font-size: 19px;
    padding: 0 0 $size-tiny 0;
  }

}

.case-type {
  font-size: 2.75em;
  margin-top: $size-small;

  @include breakpoint ($print-media) {
    padding: 0;
    margin-top: 0;
  }
}

.abd-circumstances {
  font-size: 1.3em;
  font-weight:600;
  color:#0000CC;

  @include breakpoint($print-media) {
    font-weight:700;
    padding:2px 0;
  }
}

.missing-from, .date-missing, .case-date, .case-number {
  margin-bottom: $size-half;
  float: left;
  @include breakpoint($size-mobile-small) {
    float: none;
  }
}
.missing-from, .date-missing {
  font-size: 1.25em;

  .field-label, .field-items {
    float: none;
    display: inline-block;

    .lt-ie8 & {
      float: left;
    }
  }
}

.missing-from {
  width: 68%;

  .lt-ie9 & {
    width: 67%;

    .field-label {
      width: 170px;
    }
  }
}

.date-missing {
  width: 32%;
  padding-left:2%;

  @include breakpoint($size-mobile-small) {
    padding-left:0;
  }

  .lt-ie9 & {
    width: 33%;
    padding-left: 0;
  }
}

.people-container {
  max-width:100%;

  .lt-ie8 & {
    width: 65%;
  }

  .person-details {
    font-size:1.25em;

  }
}

.person-container, .vehicle-container {
  float: left;
  width:100%;

}

.person-container {
  min-height: 14.5em;
  margin-bottom: 1em;

  .circumstances-container & {
    min-height: 0;
  }

}

.person-name-container {
  width: 100%;
}

.person-name,
.person-full-name {
  font-size: 2.5em;
  font-weight: 600;
  padding:0 0.25em 0.15em 0;
}

.person-name {
  display: inline-block;
}

.person-image {
  float: left;
  min-height: 12em;
  max-width: 48%;

  .lt-ie9 & {
    width: 48%;
  }

  .lt-ie8 & {
    width: 40%;
  }

  img {
    max-width: 100%;
    height: auto;

    .lt-ie8 & {
      width: 100%;
    }

  }
}

.person-details {
  float: left;
  min-width: 40%;
  width: 50%;
  margin-left: 2%;
  line-height: 1.35em;
  color: #222;

  h2 {
    color: #039;
  }

  .field-label {
    width: 3.5em;
    display: block;
    float: left;
  }

  .lt-ie8 & {
    width: 49%;
  }

}

.multi-person{
  .people-container .person-container {
    width: 49%;
    margin-right: 1%;

    @include breakpoint($size-mobile-small) {
      max-width: 100%;
      width: 100%;
      float: none;
      clear: left;
    }

    .lt-ie8 & {
      height: 14.5em;
    }

    .person-details {
      font-size: 1em;

      .lt-ie8 & {
        font-size: 0.75em;
      }

    }

    .lt-ie8 & {
      width: 48%
    }
  }

  .person-name,
  .person-full-name {
    font-size: 1.5em;

    .lt-ie9 & {
      font-size: 1.2em;
    }
    .lt-ie8 & {
      float: left;
      display: block;
    }
  }

  img {
     max-height: 12em;
     width: auto;
  }
}

.case-details-container {
  float: left;
  width: 100%;
  clear: left;
  margin-top: -1em;

  .case-details {
    line-height: 1.75em;
  }
  .other-information .field-items {
    line-height: 1.2em;
  }
}
.case-date, .case-number {
  font-size: 0.9em;
  width: 50%;
}

.vehicle-involved {

  .vehicle-container {
    margin-bottom: 0.5em;
  }

  .vehicle-image {
    float: none;
    text-align: center;

    .field-item {
      text-align: center;
    }

    img {
      max-width: 100%;
      max-height: 11.5em;
      height: auto;

      @include breakpoint($print-media) {
        max-width: 24em;
      }

    }
  }

  .vehicle-text {
    font-size: 16px;
    float: none;
    padding: 0;
    margin-left: 0.5em;
    width: 100%;
    text-align: center;
    max-width: inherit;
  }
}

.not-alert-default, .not-alert {
  .alert-footer {
    display: none;
  }
}

.is-alert {
  .case-type {
    color: $color-alert;
  }

  .investigating-agency, .case-number {
    display: none;
  }

  .alert-footer {
    display: block;
  }

  .non-alert {
    display: none;
  }
}

.has-abductor,
.vehicle-involved {

  .people-container {
    float: left;
    width: 66.66667%;

    @include breakpoint($size-mobile-smaller) {
      float: none;
      width: 100%;
      max-width: 100%;
    }

    .lt-ie9 & {
      width: 65%;
    }

  }
}

.has-abductor.vehicle-involved {

  .vehicle-image {
    float: left;

    img {
      max-height: 8em;
      max-width: 12em;
    }
  }

  .vehicle-text {
    font-size: 0.8em;
    float: left;
    max-width: 10em;
    margin-left: 2%;
    padding-top: 6%;
  }

  .abd-other-info {
    display: none;
  }
}

.circumstances-container {
  float: left;
  width: 33.33333%;

  @include breakpoint($size-mobile-smaller) {
    float: none;
    clear: left;
    width: 100%;
  }

  .person-name,
  .person-full-name {
    font-size: 1.5em;
  }

  .person-image {
    min-height: 0;

    @include breakpoint($size-mobile-smaller, $no-query: '.lt-ie8') {
      width: auto;
    }

  }

  img {
    max-height: 10em;
    width: auto;
  }

  .person-details {
    line-height: 1.15em;

    .lt-ie8 & {
      font-size: 0.75em;
    }

  }
}

.vehicle-container {
  width:100%;
}

.vehicle-text {
  font-weight:700;
  color:red;

  .field-label,
  strong {
    color:#222;
  }
}

.multi-abductor {

  .vehicle-2 {
    display: none;
  }
  &.vehicle-involved .abd-other-info {
    display: none;
  }
}

.meccBanner {
  font-size: 15px;
  font-weight: 600;
  color: #606E95;
}

.missing-person-ul {
  max-width: 600px;
  margin: 1em 0;

  li:first-child {
    border-top: 0;
  }

  li:last-child {
    border-bottom: 0;
  }
}

.missing-person-li {
  list-style-type: none;
  border-bottom: 1px solid #DDD;
  border-top: 1px solid #EEE;

  .amber-link {
    text-align: center;

    h3 {
      padding-top: 0;
    }
  }

  article,
  .missing-article {
    padding: 1.5em 0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    display: block;

    &:hover {
      background-color: #eff1f9;
      cursor: pointer;
      -webkit-box-shadow: 0 0 2px 0 #bababa;
      box-shadow: 0 0 5px 0 #BBB;
    }
  }

  header {
    float:right;
    width:350px;

    @include breakpoint($size-mobile-smallest) {
      float: none;
      width:auto;
    }
  }

  h2 {
    font-size:1.5em;
    padding-top: 0;
  }

  .lt-ie8 & h2,
  .oldie & h2 {
    float: right;
    width: 350px;
  }

  a {
    text-decoration: none;
    color: #039;
  }

  p {
    color: #222;
  }

  .lt-ie8 & a,
  .oldie & a{
    padding: 1.5em 0;
    display: block;
    overflow: hidden;
  }

  .person-image {
    float: left;
    width:230px;
    text-align:right;
    min-height:0;

    @include breakpoint($size-mobile-smaller) {
      float: left;
      width:auto;
      max-width:100%;
      text-align:left;
    }

    @include breakpoint($size-mobile-smallest) {
      float: none;
    }

    img {
      width: auto;
      max-width: 100%;
      height: 150px;
    }
  }

  .person-details {
    float: right;
    width: 350px;
    max-width:100%;
    margin-left:0;
    line-height:1.55em;

    @include breakpoint($size-mobile-smallest) {
      float: none;
    }

    .field-label {
      width:auto;
    }
  }

}

.missing-person-list {
  .case-type-details {
    display: none;
  }
}

.alert-list {
  .circumstances-details {
    display: none;
  }

  .case-type-details {
    color:$color-alert;
    font-size:1.4em;
  }

  .amber-alert-heading {
    padding-bottom:0.5em;
    font-size:1.6em;

    @include breakpoint($size-mobile-smallest) {
      font-size:1em;
    }

  }
}

.missingFooter {
  clear: both;
  overflow: hidden;
  margin: 15px 5px 0 5px;
  border-top: 2px solid #777;
  padding-top: 0.25em;

  @include breakpoint($print-media) {
    width: 100%;
    height: 90px;
  }
}

.contact-person, .contact-number, .contact-url {
  float: left;
  width: 60%;
  text-align: center;
  font-weight:700;

  @include breakpoint($size-print) {
    width: 69%;
    & .contact-image {
      text-align: left;
      font-size: $size-default;
      float: none;
      width: 100%;
    }
  }
}

.contact-person {
  font-size: 24px;
  padding: 0;
}

.contact-number {
  color: red;
  font-size: 28px;
  padding: 0;
}

.contact-url {
  font-size: 20px;
  padding: 0;
}

.contact-person,
.contact-number,
.contact-url {
  @include breakpoint($size-mobile-smaller) {
    font-size:1.5em;
  }

}

.contact-image{
  @include breakpoint($print-media) {
    position: absolute;
    right: 0;
  }
}

.node-missing-person.view-mode-full {
  margin: 0 5px;
}

@media print {
  .node-missing-person.view-mode-full {
    margin: 0;
  }
}


.abd-name {
  font-size: 40px;
  font-weight: 700;
}


@media (max-width: 500px) {
  .field-name-field-missing-from, .field-name-field-date-missing, .field-name-field-date-missing-cal, .field-name-field-case-date, .field-name-field-case-date-cal, .field-name-field-case-number {
    width: inherit;
  }
}
.person-date-location .field {
  font-size: 20px;
  text-align: center;
}

@media (max-width: 500px) {
  .person-date-location .field {
    font-size: 16px;
    text-align: left;
  }
}
.person-info-case-refs .field {
  font-size: 14px;
}

.person-date-location div, .person-info-case-refs div {
  display: inline-block;
}

@media (max-width: 500px) {
  .person-date-location div, .person-info-case-refs div {
    display: block;
    max-width: 100%;
  }
}
.person-date-location .field-label, .person-date-location .field-items, .person-info-case-refs .field-label, .person-info-case-refs .field-items {
  float: none;
}

.person-info {
  float: right;
  width: 48%;
  margin: 0 0 0 2%;
  overflow: hidden;
  font-size: 16px;
}

@media (max-width: 500px) {
  .person-info {
    float: none;
    width: 100%;
  }
}
.person-info-two-cols {
  margin-bottom: 10px;
}

.person-info-left, .person-info-right {
  width: 50%;
  float: left;
}

.person-info .field {
  margin-bottom: 10px;
}

.person-photo {
  float: left;
  width: 50%;
}

.person-photo img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
}

.abd-name div {
  display: inline;
  margin-right: 5px;
}

.last-name {
  display: none;
}

@media (max-width: 500px) {
  .person-photo {
    float: none;
    width: 100%;
  }

  .person-photo img {
    margin: 0;
  }
}
/* End Drupal App Styles */
