<div feedurl="http://nydcjsdev.devcloud.acquia-sites.com/childlist"></div>
<div class="missing-person-wrapper">
  <h1>Missing Children and College Students</h1>
  <div class="loading" style="position:absolute; width:300px;">
    <h3 class="loadingText"><br><br>Loading List...</h3>
  </div>
  <ul class="missing-person-ul ng-fade">
    <li ng-repeat="person in caselist | orderObjectByAlpha:'ln'" class="missing-person-li">
      <a href="#/missing-child/{{person.title}}" class="node-missing-person missing-article clearfix">
        <p class="person-image"><img ng-src="{{person.img}}"></p>
        <div class="person-details">
          <h2>{{person.title}}</h2>
          <p><strong>Missing From:</strong> {{person.misFm}}</p>
          <p><strong>Date Missing:</strong> {{person.dtM}}</p>
          <p><strong>Circumstances:</strong> {{person.circ}}</p>
          <p class="last-name">{{person.ln}}</p>
        </div>
      </a>
    </li>
  </ul>
</div>
